.header{
  position: fixed;
  width: 100%;
  z-index: 10;

  &.scroll{
    background: #000;
  }
}

.navbar {
  justify-content: space-between;
}

.nav-item{
  margin: 0 40px 0 0 ;
}

.nav-link {
  color: #fff;
}

.navbar-contacts img:not(:last-child  ){
  margin: 0 30px 0 0;
}
.navbar-toggler{
  border: none;
  position: relative;
  background-color: none;
  }

  button:focus{
    outline: none;
  }
  .header_burger{
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    // left: 50px;
    z-index: 10;
  }
  .header_burger:focus{
    border: none;
  }
  .header_burger span{
    position: absolute;
    top: 9px;
    left: 0;
    height:2px;
    width: 100%;
    background: #fff;
  }
  
  .header_burger::after,
  .header_burger::before{
    content: "";
    position: absolute;
    left: 0;
    height:2px;
    width: 100%;
    background: #fff;
    transition: all .2s ease;
  }
    .header_burger::after{
      bottom: 0;
    }
    .header_burger::before{
      top: 0;
    } 
    .header_burger.active{
        height: 30px;
    }
    .header_burger.active::before{
        transform: rotateZ(45deg);
        top: 14px;
    }
    .header_burger.active::after{
      transform: rotateZ(-45deg);
      top: 14px;
  }
  .header_burger.active span{
      display: none;
  }
